<%- include("./partials/header") %>
<main role="main" class="container">
    <form method="POST" action="/pessoas/update">
        <input value="<%= pessoa.id %>" type="hidden" name="id">
        <div class="form-group">
            <label for="nome">Nome</label>
            <input value="<%= pessoa.nome %>" type="text" class="form-control" id="nome" name="nome" placeholder="Nome Completo">
        </div>
        <div class="form-group">
            <label for="nascimento">Data de Nascimento</label>
            <input value="<%= pessoa.nascimento %>" type="text" class="form-control" id="nascimento" name="nascimento" placeholder="1997-06-30">
        </div>
        <div class="form-group">
            <label for="cargo">Cargo</label>
            <input value="<%= pessoa.cargo %>"type="text" class="form-control" id="cargo" name="cargo" placeholder="Cargo">
        </div>
        <button type="submit" class="btn btn-secondary btn-lg btn-block">Salvar</button>
    </form>
</main>
<%- include("./partials/footer") %>